
html{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    color:white;
}


h1{
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{

  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,116,1) 41%, rgba(1,175,228,1) 43%, rgba(9,9,118,1) 44%, rgba(1,175,228,1) 46%, rgba(9,9,121,1) 49%, rgba(8,8,109,1) 70%, rgba(0,212,255,1) 100%); 
  border:solid 5px rgb(122, 209, 243);
  margin:0% 5%;
}
.navbar{
  font-size: 150%
  
}
ul{  list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
  
    }


section.full{
  width: 100%;
  margin: 0;
  opacity: 20%;
}

footer{
  color:rgba(172, 172, 172, 0.664);
}



a:link {
  color: rgb(55, 195, 230);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(122, 209, 243);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(146, 228, 243);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(159, 235, 238);
  background-color: transparent;
  text-decoration: none;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
a:hover {
    background-color: #ddd;
    color: black;
  }

    

    